:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  font-size: 0.7rem;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: rgb(43, 2, 43);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}

@media only screen and (min-width: 786px) {
  body {
    font-size: 0.5rem;
  }
}
